[submodule "vncserv/tools/Chaosreader"]
	path = vncserv/tools/Chaosreader
	url = https://github.com/brendangregg/Chaosreader.git
[submodule "vncserv/tools/noVNC"]
	path = vncserv/tools/noVNC
	url = https://github.com/kanaka/noVNC
